
@font-face {
    font-family: 'Gloritna';
    src: url('Gloritna Victory DEMO VERSION.ttf');
}

@font-face {
    font-family: 'Arial';
    src: url('arial_narrow_7.ttf');
}

@font-face {
    font-family: 'Arial';
    src: url('ARIAL.TTF');
}
